@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  z-index: -1;
  animation-name: loading;
  animation-duration: 1s;
}

h1::selection {
  background-color: rgba(255, 255, 255, 0.644);
}

p::selection {
  background-color: #580b7ca6;
  color: white;
}

img::selection {
  background-color: #580b7ca6;
  color: white;
}

footer::selection {
  background-color: #580b7ca6;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.header, h1 {
  width: 100%;
  height: 50px;
  background-color: #580b7c;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 1;
}

h1 {
  font-size: 100px;
  animation-name: loading;
  animation-duration: 2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sub {
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: -1;
}

a {
  color: black;
  transition: 0.3s;
}

a:hover {
  color: #580b7c;
}

.p {
  margin-top: 360px;
  padding-left: 70px;
  font-size: 3vh;
  font-family: 'Dancing Script', cursive;
  max-width: 60%;
  z-index: 1;
}

.left {
  width: 300px;
  margin-top: -230px;
  margin-left: 1000px;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
}

.left, img {
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left:hover {
  margin-top: -240px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

footer {
  margin-top: 100px;
  text-align: center;
  font-size: 1.5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p2 {
  margin-top: -30px;
  color: #580b7c;
  padding-left: 1035px;
  font-size: 2.8vh;
  font-family: 'Dancing Script', cursive;
  max-width: 60%;
  z-index: 1;
}

@media (min-width: 480px) and (max-width:1104px) {
  .p {
      max-width: 75%;
  }

  .left {
    margin-left: 120px;
    margin-top: 70px;
  }

  .left:hover {
    margin-top: 70px;
    cursor: pointer;
    z-index: 1;
  }

  .left, img {
    display: flex;
    justify-content: center;
  }

  footer {
    margin-top: 400px;
    text-align: center;
    font-size: 1.5vh;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #580b7c;
  }

  .p2 {
  margin-top: 30px;
  color: #580b7c;
  padding-left: 165px;
  font-size: 2.8vh;
  font-family: 'Dancing Script', cursive;
  max-width: 60%;
  z-index: 1;
  margin-bottom: 20px;
  }
}

@media (min-width: 705px) and (max-width: 1111px) {
  .left {
    margin-left: 360px;
    margin-top: 70px;
  }

  .left:hover {
    margin-top: 70px;
    cursor: pointer;
    z-index: 1;
  }

  .p {
    max-width: 90%;
  }

  footer {
    margin-top: 360px;
    font-size: 1.5vh;
    margin-left: -110px;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #580b7c;
  }

  .p2 {
  margin-top: 30px;
  color: #580b7c;
  padding-left: 165px;
  font-size: 2.8vh;
  font-family: 'Dancing Script', cursive;
  max-width: 60%;
  z-index: 1;
  margin-bottom: 20px;
  text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */
/*# Responsive Design{HEX-WARRIOR} */


@media only screen and (min-width: 280px) and (max-width: 599px) {

h1 {
     font-size: 60px;
}

.p {
      max-width: 75%;
      margin-left: -30px;
  }

  .left {
    margin-left: 45px;
    margin-top: 70px;
  }

  .left:hover {
    margin-top: 70px;
    cursor: pointer;
    z-index: 1;
  }

  .left, img {
    display: flex;
    justify-content: center;
  }

  footer {
    margin-top: 400px;
    text-align: center;
    font-size: 1.5vh;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #580b7c;
  }

  .p2 {
  margin-top: 30px;
  color: #580b7c;
  padding-left: 100px;
  font-size: 2.8vh;
  font-family: 'Dancing Script', cursive;
  max-width: 60%;
  z-index: 1;
  margin-bottom: 20px;
  }
  
}


